[user]
	email = 2300887@gmail.com
	name = 887
[mergetool "fugitive"]
	cmd = vim -f -c \"Gdiff\" \"$MERGED\"
[merge]
    tool = meld
[diff]
    tool = meld
[safe]
	directory = /opt/flutter
[init]
    defaultBranch = main
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    di = diff
    fp = fetch --prune
    rb = rebase
    hist = log --graph --abbrev-commit --decorate --date=short \
        --format=format:'%C(bold cyan)%h%C(reset) %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)%an%C(reset) %C(bold yellow)%d%C(reset)' \
        --branches --remotes --tags
    git = !exec git
    gti = !exec git


[push]
    autoSetupRemote = true
